@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
    list-style-type: none;
}
h1 {
    font-size: 3.4rem;
    font-weight: 200;
}
h2 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -1;
}
a , a:visited {
    color: black;
    text-decoration: none;
}
p {
    line-height: 36px;
    margin: 25px 0;
}
.button {
    border: solid 1px #ccc;
    background: transparent;
    border-radius: 50px;
    padding: 13px 30px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font: 700 0.75rem "Source Sans Pro";
    transition: 0.3s;
}
.button:hover,
footer a:hover {
    border: solid 1px skyblue;
    color: skyblue;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}



header {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.img-banner {
    background: url(../images/banner.jpg) right/cover;
}
