* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font: normal normal 16px/1.6em sans-serif;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
body {
    min-height: 100vh;
    width: 100%;
}

.flex_cent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_col_bet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
}
header > div:nth-child(1) {
    height: 100%;
    min-width: 50%;
}
header > div:nth-child(1) > div {
    height: 40%;
    width: 75%;
}
header > div:nth-child(1) > div > h1 {
    font-size: 3rem;
}
header > div:nth-child(1) > div > button {
    height: 2.5rem;
    width: 160px;
    background: white;
    border: solid 2px #ddd;
    border-radius: 1.5rem;
}
header > div:nth-child(1) > div > button > a {
    font-size: 0.8rem;
    font-weight: bold;
}
header > div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}
header > div:nth-child(2) > img {
    height: 100vh;
}


main {
    height: 120vh;
    width: 100%;
}
main > section:nth-child(1) {
    display: flex;
    height: 50%;
    width: 100%;
}
main > section:nth-child(1) > div:nth-child(1) {
    height: 100%;
    width: 36%;
}
main > section:nth-child(1) > div:nth-child(1) > img {
    height: 100%;
    width: 100%;
}
main > section:nth-child(1) > div:nth-child(2) {
    height: 100%;
    width: 64%;
}
main > section:nth-child(1) > div:nth-child(2) > div {
    height: 60%;
    width: 85%;
}
main > section:nth-child(1) > div:nth-child(2) > div > h2 {
    font-size: 2.5rem;
}
main > section:nth-child(1) > div:nth-child(2) > div > button {
    height: 2.5rem;
    width: 160px;
    background: white;
    border: solid 2px #ddd;
    border-radius: 1.5rem;
}
main > section:nth-child(1) > div:nth-child(2) > div > button > a {
    font-size: 0.8rem;
    font-weight: bold;
}

main > section:nth-child(2) {
    display: flex;
    height: 50%;
    width: 100%;
}
main > section:nth-child(2) > div:nth-child(2) {
    height: 100%;
    width: 36%;
    overflow: hidden;
}
main > section:nth-child(2) > div:nth-child(2) > img {
    position: relative;
    bottom: 50%;
    width: 100%;
}
main > section:nth-child(2) > div:nth-child(1) {
    height: 100%;
    width: 64%;
}
main > section:nth-child(2) > div:nth-child(1) > div {
    height: 60%;
    width: 85%;
}
main > section:nth-child(2) > div:nth-child(1) > div > h2 {
    font-size: 2.5rem;
}
main > section:nth-child(2) > div:nth-child(1) > div > button {
    height: 2.5rem;
    width: 160px;
    background: white;
    border: solid 2px #ddd;
    border-radius: 1.5rem;
}
main > section:nth-child(2) > div:nth-child(1) > div > button > a {
    font-size: 0.8rem;
    font-weight: bold;
}


main > section:nth-child(3) {
    height: 90vh;
    width: 100%;
}
main > section:nth-child(3) > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    width: 45%;
}
main > section:nth-child(3) > form > h2 {
    font-size: 2rem;
}
main > section:nth-child(3) > form > div:nth-child(2) {
    height: 16%;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
main > section:nth-child(3) > form > div:nth-child(2) > div {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
main > section:nth-child(3) > form > div:nth-child(2) > div > input {
    height: 2.5rem;
    width: 100%;
    border: solid 2px #ddd;
    border-radius: 0.3rem;
}
main > section:nth-child(3) > form > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;

}
main > section:nth-child(3) > form > div:nth-child(3) > input {
    height: 80%;
    width: 100%;
    border: solid 2px #ddd;
    border-radius: 0.3rem;
}main > section:nth-child(3) > form > div:nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10%;
    width: 100%;
}
main > section:nth-child(3) > form > div:nth-child(4) > button {
    height: 2.5rem;
    width: 160px;
    background: white;
    border: solid 2px #ddd;
    border-radius: 1.5rem;
}