* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body {
    min-height: 100vh;
    width: 100%;
}

.flex_cent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_col_bet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}