* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font: normal normal 20px/1.6em sans-serif;
}
body {
    min-height: 100vh;
    width: 100%;
}

.flex_cent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_col_bet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
}
header > div:nth-child(1) {
    height: 100%;
    min-width: 50%;
}
header > div:nth-child(1) > div {
    height: 40%;
    width: 75%;
}
header > div:nth-child(1) > div > h1 {
    font-size: 3rem;
    font-weight: bold;
}
header > div:nth-child(1) > div > button {
    height: 2rem;
    width: 160px;
    background: white;
    border: solid 1px grey;
    border-radius: 1rem;
}
header > div:nth-child(1) > div > button > a {
    font-size: 0.6rem;
    font-weight: bold;
}
header > div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}
header > div:nth-child(2) > img {
    height: 100vh;
}