@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro-Light.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    outline: none;
}
h1 {
    font-weight: 400;
    font-size: 3.5em;
}
h2 {
    font-weight: 400;
    font-size: 2.5em;
}
p{
    font-size: 1.3rem;
    line-height: 1.8em;
}
input[type="name"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: solid 2px skyblue;
} 
a,
form > input[type="submit"] {
    text-decoration: none;
    font: normal bold 0.9em "Source Sans Pro", sans-serif;
    letter-spacing: 0.1em;
    height: 4em;
    width: 160px;
    border: solid 1px #ccc;
    border-radius: 2rem;
    font-size: 0.8rem;
    background: transparent;
}
a:hover,
form > input[type="submit"]:hover {
    color: skyblue;
    border: solid 2px skyblue;
}
form label {
    font: normal bold 0.9em "Source Sans Pro", sans-serif;
}
section {
    box-shadow: inset 0 1px 0 #ddd;
}
body {
    min-height: 100vh;
    width: 100%;
}

.flex_cent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_col_bet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex_col_bet_cent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
}
header > div:nth-child(1) {
    height: 100%;
    min-width: 50%;
}
header > div:nth-child(1) > div {
    height: 40%;
    width: 75%;
}
header > div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}
header > div:nth-child(2) > img {
    height: 100vh;
}

main {
    min-height: 120vh;
    width: 100%;
}
main > section:nth-child(1) {
    display: flex;
    max-height: 60vh;
    width: 100%;
}
main > section:nth-child(1) > div:nth-child(1) {
    height: 100%;
    width: 36%;
    overflow: hidden;
}
main > section:nth-child(1) > div:nth-child(1) > img {
    height: 51vh;
}
main > section:nth-child(1) > div:nth-child(2) {
    height: 100%;
    width: 64%;
}
main > section:nth-child(1) > div:nth-child(2) > div {
    height: 60%;
    width: 85%;
}

main > section:nth-child(2) {
    display: flex;
    height: 60vh;
    width: 100%;
}
main > section:nth-child(2) > div:nth-child(2) {
    height: 100%;
    width: 36%;
    overflow: hidden;
}
main > section:nth-child(2) > div:nth-child(2) > img {
    position: relative;
    bottom: 50%;
    width: 100%;
}
main > section:nth-child(2) > div:nth-child(1) {
    height: 100%;
    width: 64%;
}
main > section:nth-child(2) > div:nth-child(1) > div {
    height: 60%;
    width: 85%;
}

main > section:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    width: 100%;
}
main > section:nth-child(3) > form {
    height: 80%;
    width: 45%;
}
main > section:nth-child(3) > form > div:nth-child(1) {
    height: 16%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
main > section:nth-child(3) > form > div:nth-child(1) > div {
    width: 49%;
}
main > section:nth-child(3) > form > div:nth-child(1) > div > input {
    height: 2.5rem;
    width: 100%;
    border: solid 2px #ddd;
    border-radius: 0.3rem;
}
main > section:nth-child(3) > form > div:nth-child(2) {
    height: 50%;
    width: 100%;
}
main > section:nth-child(3) > form > div:nth-child(2) > textarea {
    height: 80%;
    width: 100%;
    border: solid 2px #ddd;
    border-radius: 0.3rem;
    resize: none;
}
footer {
    position: relative;
    padding: 70px 0 90px;
}
footer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 2px;
    background: rgba(0, 0, 0, 0.08);
}
footer ul {
    display: flex;
    justify-content: space-between;
    width: 33%;
    min-width: 300px;
    margin: 0 auto;
}
footer ul li a {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50px;
    border: solid 1px #ccc;
    transition: 0.3s;
}